<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-Commerce 2026{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<main>
    {% block body %}{% endblock %}
</main>


{% block javascripts %}{% endblock %}
</body>
</html>